/* Variables */

:root {
  /* Padding variables */
  --normal-spacer: 20px;
  --big-spacer: 50px;
  --small-spacer: 10px;
  --xs-spacer: 5px;

  /* colours */
  --dark: #040908;
  --light: #aae1d1;
  --highlight: #ed7e96;
  --white: #f6f0f1;
  --black: #121111;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--white)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* Header & Navigation */

#title-header {
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  color: var(--light);
  text-transform: uppercase;
  padding: var(--normal-spacer);
  letter-spacing: 3px;
  font-size: 5rem;
  text-align: center;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  margin-top: 0px;
  padding: var(--small-spacer) 0px;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  
}

.top-menu a {
  color: var(--black);
  text-decoration: none;
}

.top-menu a:hover {
  color: var(--highlight);
  text-decoration: underline;
}

.top-menu ul {
  list-style: none;
}

.top-menu li {
  padding: 0px var(--normal-spacer);
  list-style: none;
}

/* About Me */

#about {
  display: flex;
  max-width: 50%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto auto;
  border-bottom: 2px solid black;
  padding: var(--normal-spacer);
  margin-bottom: var(--big-spacer)
}

#about h2 {
  font-size: 5rem;
}

#about-left-col {
  max-width: 80%;
  padding-right: 20px;
}

#about-right-col {
  max-width: 20%;
  padding-left: 20px;
}

#about-right-col img {
  border-radius: 200px;
}

/* Portfolio cards */

#work {
  display: flex;
  width: 100%;
}

#portfolio-grid {
  display: grid;
  width: 80%;
  margin: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "courthouse courthouse"
    "ried guillemot"
    "maryann proparamedics";
}

#work-left-bar {
  width: 5%;
  margin: auto auto;
  transform: rotate(-90deg); 
  border-bottom: 4px solid var(--dark);
  width: fit-content;
}

#work-left-bar h2 {
  font-size: 5rem;
  text-align: center;
}

#courthouse {
  grid-area: courthouse;
}

#ried {
  grid-area: ried;
}

#guillemot {
  grid-area: guillemot;
}

#maryann {
  grid-area: maryann;
}

#proparamedics {
  grid-area: proparamedics;
}

.card {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  min-height: 40vh;
  border: 1px solid #f1f1f1;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Style the front side (fallback if image is missing) */
.card-front {
  background-color: var(--dark);
  align-items: center;
  justify-content: center;
  color: var(--white)
}

/* Style the back side */
.card-back {
  background-color: var(--light);
  color: var(--dark);
  transform: rotateY(180deg);
}

.card p:nth-child(3){
  font-style: italic;
  text-align: center;
  padding-top: var(--small-spacer)
}

.card h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}